<% provide :title, t("about") %>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="section-heading"><%= t :about_us %></h1>
    </div>
    <div class="col-lg-5 col-sm-6">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <h1><%= t "static_pages.about.trung.name" %></h1>
      <p class="lead">
        <%= t "static_pages.about._student_id" %>
        <%= t "static_pages.about.trung.student_id" %><br>
        <%= t "static_pages.about._class" %>
        <%= t "static_pages.about.trung.class" %><br>
        <%= t "static_pages.about._university" %>
        <%= t "static_pages.about.trung.university" %><br>
        <%= t "static_pages.about._position" %>
        <%= t "static_pages.about.trung.position" %><br>
      </p>
    </div>
    <div class="col-lg-5 col-lg-offset-2 col-sm-6 td-about-image">
      <%= image_tag "trung.jpg", class: "img-circle" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <h1><%= t "static_pages.about.chinh.name" %></h1>
      <p class="lead">
        <%= t "static_pages.about._student_id" %>
        <%= t "static_pages.about.chinh.student_id" %><br>
        <%= t "static_pages.about._class" %>
        <%= t "static_pages.about.chinh.class" %><br>
        <%= t "static_pages.about._university" %>
        <%= t "static_pages.about.chinh.university" %><br>
        <%= t "static_pages.about._position" %>
        <%= t "static_pages.about.chinh.position" %><br>
      </p>
    </div>
    <div class="col-lg-5 col-sm-pull-6 col-sm-6 td-about-image">
      <%= image_tag "chinh.jpg", class: "img-circle" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-5 col-sm-6">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <h1><%= t "static_pages.about.nguyen.name" %></h1>
      <p class="lead">
        <%= t "static_pages.about._student_id" %>
        <%= t "static_pages.about.nguyen.student_id" %><br>
        <%= t "static_pages.about._class" %>
        <%= t "static_pages.about.nguyen.class" %><br>
        <%= t "static_pages.about._university" %>
        <%= t "static_pages.about.nguyen.university" %><br>
        <%= t "static_pages.about._position" %>
        <%= t "static_pages.about.nguyen.position" %><br>
      </p>
    </div>
    <div class="col-lg-5 col-lg-offset-2 col-sm-6 td-about-image">
      <%= image_tag "nguyen.jpg", class: "img-circle" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <h1><%= t "static_pages.about.minh.name" %></h1>
      <p class="lead">
        <%= t "static_pages.about._student_id" %>
        <%= t "static_pages.about.minh.student_id" %><br>
        <%= t "static_pages.about._class" %>
        <%= t "static_pages.about.minh.class" %><br>
        <%= t "static_pages.about._university" %>
        <%= t "static_pages.about.minh.university" %><br>
        <%= t "static_pages.about._position" %>
        <%= t "static_pages.about.minh.position" %><br>
      </p>
    </div>
    <div class="col-lg-5 col-sm-pull-6 col-sm-6 td-about-image">
      <%= image_tag "minh.jpg", class: "img-circle" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-5 col-sm-6">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <h1><%= t "static_pages.about.tung.name" %></h1>
      <p class="lead">
        <%= t "static_pages.about._student_id" %>
        <%= t "static_pages.about.tung.student_id" %><br>
        <%= t "static_pages.about._class" %>
        <%= t "static_pages.about.tung.class" %><br>
        <%= t "static_pages.about._university" %>
        <%= t "static_pages.about.tung.university" %><br>
        <%= t "static_pages.about._position" %>
        <%= t "static_pages.about.tung.position" %><br>
      </p>
    </div>
    <div class="col-lg-5 col-lg-offset-2 col-sm-6 td-about-image">
      <%= image_tag "tung.jpg", class: "img-circle" %>
    </div>
  </div>
</div>
