<% provide :title, t("home") %>
<% if logged_in? %>
  <h3><%= t "user.list-images" %></h3>
  <ol class="images">
    <%= render @images %>
  </ol>
<% else %>
  <div class="center home jumbotron">
    <h1>
      <%= t "hello" %><br>
      <%= t "nice-to" %><br><br>
      <%= link_to t("signup.sign-up"), sign_up_path, class: "btn btn-lg btn-primary" %>
    </h1>
  </div>
<% end %>
